<h2 class="page-header">Dashboard</h2>
<section id="dashboard">
<% bookCoverClass = locals.large ? 'book-cover-large' : '' %>
<% bookGridClass = locals.large ? 'book-grid-large' : '' %>
<div class="book-grid <%= bookGridClass %>">
  <% pins.forEach(pin => { %>
    <div class="page-item" style="background-color: <%=pin.color%>">
    <form action="/dashboard/<%= pin.id %>?_method=DELETE" method="POST">
      <button title="Unpin this item" type="submit"><%= pin.item_name %></button>
    </form>
    <p><%= pin.page_name %></p>
  </div> 
  <% }) %>
</div>
</section>